$dark         : #172033;
$light        : #ffffff;
$white        : #FFFFFF;
$black        : #000000;
$dark-shadow  : rgba(0, 0, 0, 0.5);
$error        : #ff0000;
$grey         : #dddddd;
$darkgray     : darkgray;
$success      : #198754;
$success-hover: #157347;
$list-nums    : #252b30;

// device breakpoints
$mobile-max-width: 480px;
$tabs-max-width  : 768px;

// common font weights
$bold    : 900;
$semibold: 700;
$normal  : 400;