@import '../styles/commons';

.flight-search {
  text-align: center;
  min-height      : 100vh;
  max-width       : 90vw;
  margin: auto;

  .app-header {
    background-color: $white;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    font-size       : calc(10px + 2vmin);
    color           : $black;

    .app-title {
      color: $dark;
    }
  }
}